!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title iPadify | improve the usability of your website for iPads

  %body
    %h1 This is an example page (news) of what an iPadified page could look like
    = render :partial => "example_page"
    %script{:type => "text/javascript", :src => 'http://ipadify.heroku.com/ipadify.js'}
    