!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title JavaScript - Browser detect
    %script{:type => "text/javascript", :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"}

  %body
    %h1 This script will ipadify your webpages for iPad users
    = render :partial => "example_page"
    %script{:type => "text/javascript", :src => '/ipadify.js'}
    